@import url('https://fonts.googleapis.com/css?family=Exo|Ubuntu');
/*////////// GLOBAL //////////*/
*,
html {
  margin: 0;
}
body {
  font-size: 100%;
  line-height: 1.68;
}
.light-fade-bottom {
  background-color: #d4d4d4;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjY2VjZWNlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4wODgwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiNjZWNlY2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjYwOCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjZWNlY2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjY4NTk5OTk5OTk5OTk5OTkiLz48c3RvcCBzdG9wLWNvbG9yPSIjY2VjZWNlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC42ODU5OTk5OTk5OTk5OTk5Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.088, #cecece), color-stop(0.608, #cecece), color-stop(0.686, #cecece), color-stop(0.686, #cecece), color-stop(1, #f3f3f3));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(bottom, #cecece 8.8%, #cecece 60.8%, #cecece 68.6%, #cecece 68.6%, #f3f3f3 100%);
  /* IE10+ */
  background-image: linear-gradient(to top, #cecece 8.8%, #cecece 60.8%, #cecece 68.6%, #cecece 68.6%, #f3f3f3 100%);
  background-image: -ms-linear-gradient(bottom, #cecece 8.8%, #cecece 60.8%, #cecece 68.6%, #cecece 68.6%, #f3f3f3 100%);
}
.light-fade-top {
  background-color: #d4d4d4;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjY2VjZWNlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4wODgwMDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiNjZWNlY2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjYwOCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjZWNlY2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjY4NTk5OTk5OTk5OTk5OTkiLz48c3RvcCBzdG9wLWNvbG9yPSIjY2VjZWNlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC42ODU5OTk5OTk5OTk5OTk5Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.088, #cecece), color-stop(0.608, #cecece), color-stop(0.686, #cecece), color-stop(0.686, #cecece), color-stop(1, #f3f3f3));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(top, #cecece 8.8%, #cecece 60.8%, #cecece 68.6%, #cecece 68.6%, #f3f3f3 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #cecece 8.8%, #cecece 60.8%, #cecece 68.6%, #cecece 68.6%, #f3f3f3 100%);
  background-image: -ms-linear-gradient(top, #cecece 8.8%, #cecece 60.8%, #cecece 68.6%, #cecece 68.6%, #f3f3f3 100%);
}
.col-1 {
  float: left;
  width: 48%;
}
/*/////// MEDIA ////////*/
img,
video,
audio,
iframe,
table,
form {
  width: 100%;
  /* IE */
  max-width: 100%;
  /* FF, Safari, Chrome */
}
/*////////// FIXES //////////*/
* {
  box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
/*/////// LAYOUT ////////*/
.wrapper {
  font-family: 'Exo', sans-serif;
  max-width: 960px;
  min-width: 300px;
  width: 90vw;
  margin: 0 auto;
}
/*////////// NAVBAR //////////*/
.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  font-family: 'Ubuntu', sans-serif;
}
.navbar {
  margin: 0 auto;
  max-width: 960px;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 1.618rem;
  float: left;
}
.navbar nav {
  border-left: 1px solid #ccc;
  display: block;
}
.navbar nav a {
  width: 25%;
  padding: 1rem;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
}
.navbar nav a:last-child {
  border-right: none;
}
.navbar nav a:hover {
  color: white;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #474747 28%, #515151 35%, #474747 72%, #2b2b2b 87%, #1c1c1c 91%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(28%, #474747), color-stop(35%, #515151), color-stop(72%, #474747), color-stop(87%, #2b2b2b), color-stop(91%, #1c1c1c), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%, #474747 28%, #515151 35%, #474747 72%, #2b2b2b 87%, #1c1c1c 91%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 0%, #474747 28%, #515151 35%, #474747 72%, #2b2b2b 87%, #1c1c1c 91%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 0%, #474747 28%, #515151 35%, #474747 72%, #2b2b2b 87%, #1c1c1c 91%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #474747 28%, #515151 35%, #474747 72%, #2b2b2b 87%, #1c1c1c 91%, #000000 100%);
  /* W3C */
}
/*////////// MOBILE NAV //////////*/
.mobile-nav {
  display: inline-block;
}
.mobile-bars {
  padding-left: 1rem;
  float: left;
}
.mobile-nav a {
  color: #7F201B;
  text-decoration: none;
  list-style: none;
}
/*////////// SECTIONS //////////*/
/*////////// HOME //////////*/
.home {
  padding: 0;
  margin: 1.618rem auto;
}
.info-text {
  margin: 1.618rem auto;
}
.info-text p {
  padding-bottom: 1.618rem;
}
.kodama {
  width: 50%;
  position: relative;
  left: 25vw;
}
/*////////// SIGNUP-LOGIN //////////*/
.sign-up,
.login-sign {
  padding: 1.618rem;
  background-color: #eee;
  box-shadow: 2px 2px 3px #aaa;
  text-align: center;
}
.form {
  padding: 1.618rem;
}
.sign-up-group input {
  border-radius: 2px;
  border: 1px solid black;
}
.sign-up-group button {
  color: white;
  background-color: #7F201B;
  border-radius: 2px;
  border: 1px solid #eee;
  padding: .382rem;
}
/*////////// SEARCH PAGES //////////*/
.path {
  font-size: 1.618rem;
  text-align: center;
  color: #7F201B;
}
.search-bar input {
  padding: 5px;
  box-shadow: 0 2px 0 #bfbfbf, 2px 4px 6px #c7c7c7;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-bar button {
  font-size: 0.618rem;
  color: white;
  border-radius: 5px;
  margin-top: 7px;
  background-color: #a92b24;
  border: 1px solid #7F201B;
  padding: 6px;
  box-shadow: 0 2px 0 #771e19, 2px 4px 6px #6e1c17;
  letter-spacing: 1px;
  outline: none;
}
.search-bar button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.funFact {
  margin: 1rem 0;
}
.funFact a {
  text-decoration: none;
  color: black;
}
.table-wrapper table {
  margin-bottom: 1em;
  text-align: center;
}
td {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(98%);
}
.list-group-item {
  border: 1px solid #d3d3d3;
  box-shadow: 0 2px 2px #ccc;
}
/*////////// YOUTUBE //////////*/
.youtube {
  margin: 1.618rem auto;
}
/*////////// FOOTER //////////*/
footer {
  font: 0.618rem 'Exo', sans-serif;
  margin-top: 2.618rem;
}
.foot-content {
  padding: 0.618rem 1rem;
  text-align: center;
}
/*////////// SOCIAL //////////*/
.social a {
  color: black;
  margin-right: 1em;
}
.social a:hover {
  color: #94251f;
}
/*///////// @MEDIA QUERIES ////////*/
/*# sourceMappingURL=level-up.1.0.0.css.map */