@import url('https://fonts.googleapis.com/css?family=VT323');
/*////////// GLOBAL //////////*/
body {
  background: #3B199F;
  font-family: "VT323", sans-serif;
  font-size: 100%;
}
.logo {
  text-align: center;
  font-size: 80px;
  text-shadow: 2px 2px green;
  width: 100%;
}
ul {
  margin-bottom: 10px;
  list-style: none;
}
li {
  margin-left: 20px;
}
p,
address {
  font-size: 1em;
  /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}
figure {
  margin: 0 0 10px;
}
figcaption {
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}
table {
  margin: 0 0 20px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
tr:nth-child(even) {
  background: #efefef;
}
th,
td {
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
th {
  background: #555;
  color: white;
}
input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0 3px 5px #ccc;
  border: 1px solid #ccc;
}
input[type="submit"] {
  margin-top: 5px;
  width: 100px;
  background: black;
  color: white;
  border-radius: 25px;
  border: 0;
}
input[type="submit"]:hover {
  background: #555;
}
iframe {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100px;
}
.shadow {
  box-shadow: 0 3px 10px #333;
}
.border-right {
  border-right: 1px dotted #ccc;
  padding-right: 30px;
}
/*////////// BACKGROUNDS //////////*/
/*/////// MEDIA ////////*/
img,
iframe,
table,
form {
  width: 100%;
  /* IE */
  max-width: 100%;
  /* FF, Safari, Chrome */
}
/*////////// FIXES //////////*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*/////// LAYOUT ////////*/
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.col-1 {
  float: left;
  width: 32%;
}
.col-2 {
  float: left;
  width: 66%;
}
.col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
[class*="col-"] {
  margin-left: 2%;
}
.first {
  margin-left: 0%;
}
/*/////// SOCIAL ////////*/
#social {
  position: fixed;
  top: 163px;
  right: 20px;
  width: 40px;
  z-index: 2;
}
#social a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
a.fbook {
  background-position: 0 0;
}
a.fbook:hover {
  background-position: -40px 0;
}
a.fbook:active {
  background-position: -80px 0;
}
a.twit {
  background-position: 0 -40px;
}
a.twit:hover {
  background-position: -40px -40px;
}
a.twit:active {
  background-position: -80px -40px;
}
a.gplus {
  background-position: 0 -80px;
}
a.gplus:hover {
  background-position: -40px -80px;
}
a.gplus:active {
  background-position: -80px -80px;
}
/*////////// HEADER //////////*/
header {
  margin: 0 0 30px;
}
/*////////// NAVBAR //////////*/
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid #ccc;
  text-align: center;
  background-color: white;
}
.navbar {
  position: relative;
  width: 20%;
  height: auto;
  border-left: 1px solid #ccc;
}
.navbar li {
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "VT323", Arial, sans-serif;
  transition: 1s;
  color: white;
}
.navbar li.selected {
  background-image: linear-gradient(to right, #E56D16 0%, #B25009 51%, #CC6114 100%);
  color: black;
}
#navbar li:hover {
  color: black;
  background-position: left right;
  background-image: linear-gradient(to right, black 0%, grey 51%, white 100%);
}
/*////////// LOGO //////////*/
#logo {
  padding: 74px 0 0;
}
#logo h1 {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  background: url(../images/exceptional-logo.png) no-repeat;
  background-size: 100% 100%;
}
#logo h2 {
  display: inline-block;
  font: 2.5em "Clicker Script", cursive;
  margin: 0;
  position: relative;
  top: -9px;
  left: 5px;
  color: #303;
}
/*////////// MAIN SECTIONS //////////*/
section {
  padding: 30px;
  margin-bottom: 20px;
  background: white;
}
/*////////// DETAILS //////////*/
#details {
  border-top: 1px solid white;
}
#details div {
  height: 221px;
}
#details a:link,
#details a:visited {
  color: black;
  text-decoration: none;
}
#details a:hover {
  color: black;
  text-decoration: underline;
}
#details a:active {
  color: red;
}
/*////////// FOOTER //////////*/
footer {
  text-align: center;
  font-size: 0.75em;
  padding: 10px;
  background: #eee;
  border-top: 1px solid;
}
/*# sourceMappingURL=level-up.1.0.0.css.map */