@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: "VT323", sans-serif;
}

#logo {
  text-align: center;
  font-size: 80px;
  text-shadow: 2px 2px green;
  width: 100%;

}

li {
  list-style-type: none;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #eee;
}

.embed {
  width: 100%
}
.embed-item {
  width: 100%;
  height: 700px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

iframe, form {
  width: 100%;
  max-width: 100%;
}

img {
  width: 240px;
  height: 140px;
}

.twitch-streams, .twitch-gamepad {
  float: right;
  marging-left: 0;
  margin-top: -40px
}

.ytVideo-table {
  float: left;
}

.search-bar, .submit-btn {
  text-align: center;
}

#search {
  position: relative;
  display: inline-block;
}

input {
  width:70%;
  margin-bottom: 20px;
}

.submit-btn {
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
}

.submit-btn:hover {
  background-color: white;
  border: 2px solid #4CAF50
;}

@media only screen and (min-width: 900px) {
  input {
    width: 500px;
  }
}