@import url('https://fonts.googleapis.com/css?family=Exo');

/*////////// GLOBAL //////////*/
* {
  font-family: "Exo", sans-serif;
}
body {
  margin: 0; 
}

.logo-container {
  position: relative;
  top: 5em;
}

.logo {
  text-align: center;
  font-size: 4em;
  width: 100%; 
  margin-bottom: .3em;
  color: #7F201B;
}

li {
  margin-left: 20px;
}

h3 {
  font-size: 2em;
}

address {
  font-size: 16px;
  line-height: 1.5em; 
  margin-bottom: .5em; 
  width: 35%;
  /*centers content in div*/ 
  margin: 0 auto; 
}

#twitch-streams {
  left: 10px
}

input {
  display: inline;
  padding: 5px;
  box-shadow: 0 1px 2px #ccc;
  border: 1px solid #ccc;
  border-radius: 5px; 
}

input[type="text"] {
  width: 50%;
  border-right: none; 
  font-size: 17px; 
}

button {
  font-size: 16px; 
  color: white;
  border-radius: 5px; 
  margin-top: 7px; 
  background-color: lighten(#FF4036, 3%);
  border: 1px solid darken(#FF4036, 4%); 
  padding: 6px; 
  box-shadow: 0 2px 0 darken(#FF4036, 5%), 2px 4px 6px darken(#FF4036, 2%);
  font-weight: 900;
  letter-spacing: 1px;
}

button:hover {
  background: darken(#FF4036, 1.5%);
  border: 1px solid #FF4036;
  box-shadow: 1px 1px 2px #FF4036;
  color: lighten(#FF4036, 18%); 
  text-decoration: none;
  text-shadow: -1px -1px 0 darken(#FF4036, 9.5%);
  transition: all 250ms linear;
}

.search-bar {
  text-align: center; 
}

p {
  font-size: 1.4em; 
  text-align: center; 
}

.placeholder {
  display: none;
}

.description {
  text-align: left; 
  font-size: 20px; 
  margin: 5px;  
}


.submit-btn {
  cursor: pointer;
}

strong {
  color: black; 
}

.funFact a {
  text-decoration: none;
  left: 0;
}

.funFact {
  font-size: 1.1em;
  max-width: 90%;
  position: relative; 
  left: 5%; 
}

.welcome {
  position: relative;
  bottom: 3em; 
}

/*////////// Layouts ///////////*/

.home {
  padding: 0;
  margin: 0; 
}

.footer-wrapper {
  position: fixed;
  bottom: 0; 
  width: 100%;
}

.main-layout {
  padding-bottom: 3.75em;
}

/*////////// BACKGROUNDS //////////*/

/*.home-img {
    background-image: url("http://i.imgur.com/Q7Hf336.jpg");
}*/

.header-img {
  height: 32em;
  background-size: cover;
  position: relative;
  top: 3.3em;
}

.light-fade {
	background: #efefef;
	/* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #ffffff 24%, #ffffff 68%, #dddddd 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(24%, #ffffff), color-stop(68%, #ffffff), color-stop(100%, #dddddd));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%, #ffffff 24%, #ffffff 68%, #dddddd 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%, #ffffff 24%, #ffffff 68%, #dddddd 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%, #ffffff 24%, #ffffff 68%, #dddddd 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #efefef 0%, #ffffff 24%, #ffffff 68%, #dddddd 100%);
	/* W3C */
}

.ryu-punch {
  background-image: url("http://i.imgur.com/lnZpsTe.jpg?1");
}

.aCreed {
  background-image: url("http://i.imgur.com/gURoEL7.jpg");
}

.nioh {
  background-image: url("http://i.imgur.com/KnlLxMy.jpg");
}

/*/////// MEDIA ////////*/

iframe {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
  margin-top: 20px; 
  height: 700px; 
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.embed-item {
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

img:hover {
  filter: grayscale(100%) blur(2px);
  cursor: pointer;
}

.table-wrapper table {
  position: relative;
  left: 100px; 
  margin-bottom: 1em;
}

#twitch-streams {
  position: relative;
  left: 100px; 
}

td {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(25% - 4px);
  margin-right: 8px;
}

.youtube-media-row p, .twitch-media p {
  font-size: .9em;
}

.list-group-item {
  border: 1px solid #d3d3d3;
  box-shadow: 0 2px 2px #ccc;
  max-width: 12.5em;
  max-height: 10.35em;
}

/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*/////// SOCIAL ////////*/

#social {
  position: relative; 
  text-align: center; 
}

#social a {
  display: inline;
  color: black;
  margin-bottom: 1em;
  margin-right: 1em;
}

#social a:hover {
  color: #7F201B;
}

/*////////// NAVBAR //////////*/

.nav-container {
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 2;
}

.navbar nav {
  border-left: 1px solid #ccc;
}

.navbar nav a {
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 1em;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
}

.navbar nav a:hover {
  color: white;
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(71,71,71,1) 28%, rgba(81,81,81,1) 35%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(28%,rgba(71,71,71,1)), color-stop(35%,rgba(81,81,81,1)), color-stop(72%,rgba(71,71,71,1)), color-stop(87%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* W3C */
}

/*///////// @media queries ////////*/
@media only screen and (min-width: 960px) {
  #app {
    max-width: 60em;
    width: 100%;
    margin: 0 auto;
  }

  .nav-container, .footer-wrapper {
    max-width: 60em;
  }
}

@media only screen and (max-width: 880px) {
  .details {
    visibility: hidden;
  }
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 85%;
  }

  #social {
    top: 20px; 
    right: 10px;
  }

 td {
    width: calc(50% - 4px);
  }

  td:nth-of-type(2n) {
    margin-right: 2px;
  }

  td:nth-of-type(4n) {
    margin-right: 0;
  }

  .navbar li {
    display: block; 
    width: 90%;
    border-radius: 0;
  }

  .mobile-nav {
    width: 100%;
  }
  
  .mobile-bars {
    position: relative;
    left: -45%;  
    margin-left: 15px;  
  }

  .navbar {
    float: left;  
    width: 100%;
  }

  .btn {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: black;
    border-radius: 10px;
    background-image: linear-gradient(to right, #CC1453 0%, lightgrey 51%, #CC1453 100%);
    font-size: 20px; 
  }

  body {
    font-size: 85%;
  }
  
  .table-wrapper table {
    left: 4%; 
  }

  #devAddress {
    left: 33%;
  }

  #twitch-streams {
    left: 4%; 
  }

  iframe {
    height: 450px;
  }
}

@media only screen and (max-width: 500px) {
  td {
    width: calc(100% - 2px);
  }

  td:nth-of-type(2n) {
    margin-right: 2px;
  }

  td:nth-of-type(4n) {
    margin-right: 0;
  }

  #devAddress {
    position: relative; 
    left: 18%;
    width: 90%;
    font-size: 1em; 
  }

  .table-wrapper table {
    position: relative;
    left: 2px; 
  }

  ul {
    position: relative; 
    right: 15px; 
  }

  input[type=text] {
    width: 70%; 
    height: 100%;
  }

  #twitch-streams {
    left: -1%; 
    top: 150px; 
  }

  iframe {
    height: 300px;
  }

  .details {
    visibility: hidden; 
  }
}



